body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// change bulma variables HERE!
$card-radius: 1rem;
$dropdown-menu-min-width: 100%;
$footer-background-color: #00d1b2;
$footer-padding: 0.5rem;

@import "bulma/bulma.sass";
